<div class="container">
    <h1 class="h1"><b>Our Gallery</b></h1><br><br>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
            <img class="img" src="assets/images/1.jpg" alt="">
            </a>
            
        </div>
        <div class="col-md-3">
            <a href="#">
            <img class="img" src="assets/images/2.jpg" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
            <img class="img" src="assets/images/3.jpg" alt="">
            </a>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-md-3">
            <a href="#">
            <img class="img" src="assets/images/4.jpg" alt="">
            </a>
        </div>
        <div class="col-md-3">
            <a href="#">
            <img class="img" src="assets/images/5.jpg" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
            <img class="img" src="assets/images/6.jpg" alt="">
            </a>
        </div>
    </div>
</div>