<div class="container">
    <h1 class="h1">Our Wonderful plants</h1>
    <p class="p">Various varieties of plant are available here. You can find thousands of varieties of plants in this
        nursury.</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/3.jpg" width="100%" height="240px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gerbera</h5>
                    <p class="card-text">Gerbera daisies (Gerbera jamesonii) are commonly grown for their bright and
                        cheerful daisy-like flowers. They originate from South Africa and come in various sizes and
                        colors including pink, yellow, salmon, orange and white, with flower sizes anywhere from 2 to 5
                        inches across.

                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/plant1.jpg" width="100%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fuchsia</h5>
                    <p class="card-text">
                        Beautiful, delicate fuchsias come in thousands of varieties and colors, with multi-colored
                        blossoms that hang and droop beautifully from baskets, planters, and pots. Often trellised in
                        the garden, fuchsia plants can be bushy or vining and trailing.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <img src="assets/images/plant2.jpg" width="100%" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Orange</h5>
                    <p class="card-text">The orange is the fruit of various citrus species in the family Rutaceae (see
                        list of plants known as orange); it primarily refers to Citrus × sinensis, which is also called
                        sweet orange, to distinguish it from the related Citrus × aurantium, referred to as bitter
                        orange.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/4.jpg" width="100%" height="240px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="assets/images/5.jpg" width="100%" height="240px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Sunflower</h5>
                    <p class="card-text">Sunflowers are usually tall annual or perennial plants that in some species can
                        grow to a height of 300 cm (120 in) or more. They bear one or more wide, terminal capitula
                        (flower heads), with bright yellow ray florets at the outside and yellow or maroon (also known
                        as a brown/red) disc florets inside.
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <div class="card">
                <img src="assets/images/6.jpg" width="100%" height="240px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
        </div>
    </div>
</div>