<div class="container-fluid bg" style="background-image: url(assets/images/banner.jpg);">
    <div class="row">
        <div class="col-md-6"><br><br><br>
            <h1 class="h1"><span style="color: green;">Welcome To The</span><br> Nutrients Plants</h1>
            <p class="p">It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters, as opposed to using.<br><br>
                <button type="button" class="btn btn-secondary btn-lg">About</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-secondary btn-lg">Contact Us</button>

            </p>

        </div>
        <div class="col-md-6">
            <img class="img" src="assets/images/gyufyufyu.png" alt="">

        </div>
    </div>
</div>